# Emacs local state
auto-save-list/
eln-cache/
transient/
elpa/
elpaca/
url/

# Timeclock data and generated session files
# Keep project data local to the machine
/timeclock/
*.eld
*.org~
*.el~
*.txt~

config.el

# OS/editor noise
.DS_Store

*.db
